<%@ Master Language="C#" Inherits="Krypton.Master" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>BOOG</title>
</head>
<body>
	<div id="container">
		<form runat="server">
		    <asp:ContentPlaceHolder id="contentPlaceHolder" runat="server" /> 
		</form>
	</div>
</body>
</html>
